.Filter{
    background-color: transparent;
    font-size: 90%;
    vertical-align: middle;
    color: rgb(121,117,114);
    display: flex;

    -webkit-box-shadow: 0px 7px 0px -3px rgba(244,244,244,1),
                        0px 14px 0px -6px rgba(244,244,244,1)/*,
                        0px 28px 0px -15px rgba(244,244,244,1)*/;

    -moz-box-shadow: 0px 7px 0px -3px rgba(244,244,244,1),
                     0px 14px 0px -6px rgba(244,244,244,1),/*
                     0px 28px 0px -15px rgba(244,244,244,1)*/;

    box-shadow: 0px 7px 0px -3px rgba(244,244,244,1),
                0px 14px 0px -6px rgba(244,244,244,1)/*,
                0px 28px 0px -15px rgba(244,244,244,1)*/;
}

.fil{
    outline: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: rgb(121,117,114);
}
.fil:active, .fil:focus{
    outline:none;
    box-shadow: none;
    border: none;
    border: 1px solid rgb(228,218,217);
    border-radius: 2px;
}
.pCenter{
    vertical-align: middle;
    margin: auto;
}
.clearing:hover, .clearing:active{ 
    color: rgb(121,117,114);
}
.invisibleBut{
    color: transparent; 
    outline: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
}
.invisibleBut:active, .invisibleBut:focus{
    outline: none;
}